# Ollama configuration
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:7b

# Model configuration
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2

# File paths configuration
FAISS_INDEX=index.faiss
DOCUMENTS_PATH=documents.pkl
HISTORY_FILE=history.txt
PROMPT_TEMPLATE=PROMPT.j2
RAW_FOLDER=raw
